4 course/ИОТ/node-red/.flows.json.backup
[
    {
        "id": "749fa1c17a11b710",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4b40eb12dedbcf7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f90c1998b628afb1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6872d6d26e1a04f5",
        "type": "ui_group",
        "name": "Гоша",
        "tab": "42ee5196d9013839",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4aa3f5486499362f",
        "type": "ui_group",
        "name": "Давід",
        "tab": "52b2a39a1daf9f1c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42ee5196d9013839",
        "type": "ui_tab",
        "name": "Гоша Давід",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52b2a39a1daf9f1c",
        "type": "ui_tab",
        "name": "Давід",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "385c677f8f61f361",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "951ebc73de4db52d",
        "type": "ui_group",
        "name": "Main",
        "tab": "d7853ee8e04f456c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7853ee8e04f456c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f37f3e6d86a688a",
        "type": "telegram bot",
        "botname": "Ukraine_Travel1_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "a69df6ea6d7ba3ac",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "start func",
        "func": "var text = \"Привіт! Я твій гід по Україні. Ось мої команди:\\n\\n\";\ntext += \"/info - загальна інформація про країну\\n\";\ntext += \"/attractions - топ пам'яток\\n\";\ntext += \"/places - цікаві місця за категоріями\\n\";\ntext += \"/faq - часті запитання\\n\";\ntext += \"/gallery - фото та відео\\n\\n\";\ntext += \"Надішли будь-яку команду, щоб почати!\";\n\nmsg.payload.content = text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "4aa0b14025b0c6e9",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "/info",
        "func": "var text = \"🇺🇦 Україна - держава у Східній Європі. \\n\\n\";\ntext += \"Столиця: Київ \\n\";\ntext += \"Населення: 41 млн людей \\n\";\ntext += \"Мова: українська \\n\";\ntext += \"Валюта: гривня \\n\";\ntext += \"Площа: 603 700 км² \\n\\n\";\ntext += \"Україна межує з Білоруссю, Польщею, Словаччиною, Угорщиною, Румунією, Молдовою та Росією. На півдні омивається Чорним та Азовським морями.\\n\";\n\nmsg.payload.content = text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "b3f134e54ae93bb5",
        "type": "telegram sender",
        "z": "749fa1c17a11b710",
        "name": "senderer",
        "bot": "8f37f3e6d86a688a",
        "haserroroutput": true,
        "outputs": 2,
        "x": 940,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "876595b9e64a3403",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/info",
        "command": "/info",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "4aa0b14025b0c6e9"
            ],
            []
        ]
    },
    {
        "id": "717744de6749dbf6",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/start",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "a69df6ea6d7ba3ac"
            ],
            []
        ]
    },
    {
        "id": "6f5e2754bae8f650",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/attractions",
        "command": "/attractions",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "1412f417b50c3a57"
            ],
            []
        ]
    },
    {
        "id": "1412f417b50c3a57",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "/attractions",
        "func": "var text = \"Топ пам'яток України: \\n\\n\";\n\ntext += \"1. Києво-Печерська Лавра, Київ \\n\";\ntext += \"Древній монастир, центр паломництва \\n\\n\";\n\ntext += \"2. Софійський собор, Київ \\n\";\ntext += \"Храм 11 століття, внесений до списку ЮНЕСКО \\n\\n\";\n\ntext += \"3. Площа Ринок, Львів \\n\";\ntext += \"Старовинна площа з будівлями 16-18 століть \\n\\n\";\n\ntext += \"4. Замок Паланок, Мукачево \\n\";\ntext += \"Середньовічний замок на горі \\n\\n\";\n\ntext += \"5. Херсонес Таврійський, Севастополь \\n\";\ntext += \"Античне місто, музей просто неба \\n\";\n\nmsg.payload.content = text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 480,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "6d225669084cacca",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/places",
        "command": "/places",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "66119eea7afacd74"
            ],
            []
        ]
    },
    {
        "id": "66119eea7afacd74",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "/places",
        "func": "msg.payload.content = 'Оберіть категорію місць:';\nmsg.payload.options = {\n  reply_markup: {\n    keyboard: [\n      [{ text: \"Ресторани\" }],\n      [{ text: \"Музеї\" }],\n      [{ text: \"Парки\" }],\n      [{ text: \"Шопінг\" }]\n    ]\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 560,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "b3a7a10740aabb16",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "Ресторани",
        "command": "Ресторани",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "062902d5d7f919a3"
            ],
            []
        ]
    },
    {
        "id": "062902d5d7f919a3",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "Ресторани",
        "func": "var text = \"Найкращі ресторани України:\\n\\n\"; \ntext += \"1. Ресторан «Канапа», Київ\\n\";\ntext += \"2. «Масонська ложа», Львів\\n\";\ntext += \"3. «Мюнхгаузен», Харків\\n\"; \ntext += \"4. «Тераса», Одеса\\n\";\ntext += \"5. «Пантагрюель», Дніпро\\n\";\nmsg.payload.content = text;\nmsg.payload.options = { reply_markup: { remove_keyboard: true } }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "b5d6c5dea2091d0b",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/faq",
        "command": "/faq",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "3f0187147c0b16f7"
            ],
            []
        ]
    },
    {
        "id": "3f0187147c0b16f7",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "/faq",
        "func": "var faq = [\n  {\n    q: \"Чи потрібна віза в Україну?\",\n    a: \"Для громадян більшості країн потрібна віза. Але з 2017 року для багатьох країн діє безвізовий режим на термін до 90 днів, у тому числі для країн Євросоюзу.\"\n  },\n  {\n    q: \"Яка валюта в обігу?\",\n    a: \"Державна валюта - українська гривня. Можна легко обміняти долари та євро в банках та обмінниках. Кредитні картки приймають у багатьох закладах.\"\n  },\n  {\n    q: \"Якою мовою говорять?\",\n    a: \"Державна мова - українська. Також більшість населення вільно володіє російською, особливо у східній частині. Англійську розуміють у туристичних місцях.\"\n  }\n];\n\nvar item = faq[Math.floor(Math.random()*faq.length)];\nvar text = \"Випадкове запитання:\\n\\n\";\ntext += \"❓ \" + item.q + \"\\n\\n\";\ntext += item.a;\n\nmsg.payload.content = text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "e237d5d416cdd823",
        "type": "telegram command",
        "z": "749fa1c17a11b710",
        "name": "/gallery",
        "command": "/gallery",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "8f37f3e6d86a688a",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "2f647410d9f905ed"
            ],
            []
        ]
    },
    {
        "id": "2f647410d9f905ed",
        "type": "function",
        "z": "749fa1c17a11b710",
        "name": "/gallery",
        "func": "msg.payload.content = 'https://i.postimg.cc/MGNs3RnR/Ukraine-Travel-Kiev.jpg';\nmsg.payload.type = 'photo';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 780,
        "wires": [
            [
                "b3f134e54ae93bb5"
            ]
        ]
    },
    {
        "id": "f60f71c292377289",
        "type": "inject",
        "z": "e4b40eb12dedbcf7",
        "name": "Початок",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic1",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "9bce3a79a4d8519a",
                "9b3e7b22baee9b3d",
                "1bd666c663368cb1",
                "4262b91e10b00824",
                "b9983929cb8b497c",
                "6261c617cb5d5d6a"
            ]
        ]
    },
    {
        "id": "4ca15d5b575cb63c",
        "type": "debug",
        "z": "e4b40eb12dedbcf7",
        "name": "Debug1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "9b3e7b22baee9b3d",
        "type": "delay",
        "z": "e4b40eb12dedbcf7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "8911354e63ef18ff"
            ]
        ]
    },
    {
        "id": "4262b91e10b00824",
        "type": "delay",
        "z": "e4b40eb12dedbcf7",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "4596c2f2ecb152e0"
            ]
        ]
    },
    {
        "id": "1bd666c663368cb1",
        "type": "delay",
        "z": "e4b40eb12dedbcf7",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "94fe23051d6198ef"
            ]
        ]
    },
    {
        "id": "b9983929cb8b497c",
        "type": "delay",
        "z": "e4b40eb12dedbcf7",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "932c9dbf94b9c3f4"
            ]
        ]
    },
    {
        "id": "9bce3a79a4d8519a",
        "type": "change",
        "z": "e4b40eb12dedbcf7",
        "name": "set1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "один",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "4ca15d5b575cb63c",
                "d716f6c486b468e8"
            ]
        ]
    },
    {
        "id": "8911354e63ef18ff",
        "type": "change",
        "z": "e4b40eb12dedbcf7",
        "name": "set2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "два",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "4ca15d5b575cb63c",
                "d716f6c486b468e8"
            ]
        ]
    },
    {
        "id": "94fe23051d6198ef",
        "type": "change",
        "z": "e4b40eb12dedbcf7",
        "name": "set3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "три",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "4ca15d5b575cb63c",
                "d716f6c486b468e8"
            ]
        ]
    },
    {
        "id": "4596c2f2ecb152e0",
        "type": "change",
        "z": "e4b40eb12dedbcf7",
        "name": "set4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "чотири",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "4ca15d5b575cb63c",
                "d716f6c486b468e8"
            ]
        ]
    },
    {
        "id": "932c9dbf94b9c3f4",
        "type": "change",
        "z": "e4b40eb12dedbcf7",
        "name": "set5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "п'ять",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "4ca15d5b575cb63c",
                "d716f6c486b468e8"
            ]
        ]
    },
    {
        "id": "6261c617cb5d5d6a",
        "type": "function",
        "z": "e4b40eb12dedbcf7",
        "name": "ДатаЧас",
        "func": "msg.payload = new Date(msg.payload).toLocaleDateString() + '<br>' + new Date(msg.payload).toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "f39933b06eaf7002",
                "9c2c68f65dc44bec"
            ]
        ]
    },
    {
        "id": "f39933b06eaf7002",
        "type": "debug",
        "z": "e4b40eb12dedbcf7",
        "name": "Debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "9c2c68f65dc44bec",
        "type": "ui_text",
        "z": "e4b40eb12dedbcf7",
        "group": "6872d6d26e1a04f5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Дата",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "d716f6c486b468e8",
        "type": "ui_text",
        "z": "e4b40eb12dedbcf7",
        "group": "4aa3f5486499362f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Число",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "5cfc2a8597935d4b",
        "type": "ui_slider",
        "z": "f90c1998b628afb1",
        "name": "",
        "label": "Задана температура",
        "tooltip": "",
        "group": "951ebc73de4db52d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "b4d365f6cd9e6f06",
                "cf3c6b05a07a7d58",
                "7e8abca40f5ad9ca"
            ]
        ]
    },
    {
        "id": "b4d365f6cd9e6f06",
        "type": "ui_gauge",
        "z": "f90c1998b628afb1",
        "name": "",
        "group": "951ebc73de4db52d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "90",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf3c6b05a07a7d58",
        "type": "function",
        "z": "f90c1998b628afb1",
        "name": "В текст",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "5039a57f8851f67b"
            ]
        ]
    },
    {
        "id": "5039a57f8851f67b",
        "type": "ui_audio",
        "z": "f90c1998b628afb1",
        "name": "",
        "group": "951ebc73de4db52d",
        "voice": "Google русский",
        "always": "",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e8abca40f5ad9ca",
        "type": "switch",
        "z": "f90c1998b628afb1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "51",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "173210dbe7e541ad"
            ],
            [
                "31e55f96d6a6824c"
            ]
        ]
    },
    {
        "id": "173210dbe7e541ad",
        "type": "change",
        "z": "f90c1998b628afb1",
        "name": "Norma",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "НОРМА",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "GREEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "7d45cf20f3b2b6e0"
            ]
        ]
    },
    {
        "id": "31e55f96d6a6824c",
        "type": "change",
        "z": "f90c1998b628afb1",
        "name": "Alarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "АВАРІЯ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "RED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "7d45cf20f3b2b6e0"
            ]
        ]
    },
    {
        "id": "7d45cf20f3b2b6e0",
        "type": "ui_button",
        "z": "f90c1998b628afb1",
        "name": "",
        "group": "951ebc73de4db52d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    }
]